<div class="container">
	<div class="col-md-6 col-md-offset-3">
		<h1 class="col-md-8 col-md-offset-2">Edit Post</h1>

		<%= image_tag @post.image.url(:medium) %>

		<%= render 'form' %>

		<div class="post_navigation_links">
			<%= link_to "Back", root_path, class: "btn btn-default" %>
		</div>
	</div>
</div>