
#about_page {
	margin: 0px;
	padding: 0px 0px 0px 0px;
	background-color: #1C1C1C;
	color: #D1D1D1;
	text-align: left;
}

.thank_you {
	text-align: center;
}

.col-sm-3.img-responsive.center-block {
	padding: 0px;
}

#andy_profile {
	opacity: 0.75;
	margin: 0px;
	padding: 0px 0px 0px 0px;
}

#whatis {
	text-align: center;
}

#glad {
	margin-top: -10px;
	margin-bottom: 5px;
	font-style: italic;
	text-align: center;
}

#photo_icon {
	float: left;
	height: 60px;
	width: auto;
	padding: 5px 10px 5px 5px;
}

#about_where {
	padding: 7px 5px 5px 5px;
	margin: 5px 45px 5px 75px;
	text-align: justify;
	font-weight: 300;
	letter-spacing: 1px;
}

#journal_icon {
	float: left;
	height: 60px;
	width: auto;
	padding: 5px 10px 5px 5px;
}

#about_mom {
	padding: 5px 5px 5px 5px;
	margin: 5px 45px 5px 75px;
	text-align: justify;
	font-weight: 300;
	letter-spacing: 1px;
}

#footsteps_icon {
	float: left;
	height: 60px;
	width: auto;
	padding: 5px 10px 5px 5px;
}


#about_touch {
	padding: 5px 5px 5px 5px;
	margin: 5px 45px 5px 75px;
	text-align: justify;
	font-weight: 300;
	letter-spacing: 1px;
}