
#about_page {
	padding: 0px 0px 0px 15px;
	background-color: #1C1C1C;
	color: #D1D1D1;
}

.andy_profile {
	opacity: 0.75;
}

#glad {
	margin-top: -10px;
	font-style: italic;
}

h3 {
	text-align: center;
}

#what_about {
	text-align: center;
}

#read_the_stuff {
	font-style: italic;
}

.thank_you {
	text-align: center;
}