/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

#notice_wrapper {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 999;
	background: #C4C4C4;
	opacity: 0.85;
	.alert, .notice {
		padding: 2.5rem 0;
		text-align: center;
		margin: 0;
		font-size: 1.25rem;
		font-weight: 700;
		color: #000000;
		letter-spacing: 1px;
	}
}

#logo {
	margin: 0;
	padding: 0;
}

#site-title {
	color: #F0F0F0;
	a:link, a:visited, a:hover, a:active, {
		color: #F0F0F0;
	}
}

.navbar.navbar-default {
	background-color: #2B2B2B;
	padding: 1rem 0;
	margin: 0;
	
}

.nav.navbar-nav.navbar-right.nav-pills {
	a:link, a:visited, a:active, {
		color: #F0F0F0;
	}
	a:hover {
		color: #C4C4C4;
		text-decoration: underline;
	}
}

.dropdown-menu {
	background-color: #2B2B2B;
	a:link, a:visited, a:active, {
		color: #F0F0F0;
	}
	a:hover {
		color: #C4C4C4;
		background-color: #2B2B2B;
		text-decoration: underline;
	}

}

#fat-menu {
	background-color: #2B2B2B;
	a:link, a:visited, a:active, {
		color: #F0F0F0;
		background-color: #2B2B2B;
	}
	a:hover {
		color: #C4C4C4;
		background-color: #2B2B2B;
		text-decoration: underline;
	}
}

#avatar-thumb {
	max-width: 50px;
}

.row {
	background-color: #2B2B2B;
	padding: 2rem 0;
	text-align: center;
	a:link, a:visited, a:active, {
		color: #F0F0F0;
		text-decoration: underline;
	}
	a:hover {
		color: #C4C4C4;
		text-decoration: underline;
	}
}

.row.footer_rights {
	margin-top: -5px;
	color: #F0F0F0;
	text-align: center;
	a:link, a:visited, a:active, {
		color: #C4C4C4;
		text-decoration: underline;
	}
	a:hover {
		color: #F0F0F0;
	}
}
