.jumbotron {
	h1 {
		padding-left: 40px;
	}
	p {
		padding-left: 40px;
		padding-right: 40px;
	}
}

.new_post {
	a:link, a:visited, a:hover, a:active, {
		color: #303030;
	}
}

.crud_links {
	a:link, a:visited, a:hover, a:active, {
		color: #696969;
	}
}