
#landing_banner {
	background-image: image-url('birdsandbridges_banner.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;
	h1 {
		padding-top: 20px;
		padding-left: 10px;
	}
	h5 {
		margin-top: -5px;
		font-style: italic;
		padding-left: 10px;
		font-size: 15px;
	}
}