.jumbotron {
	h1 {
		padding-left: 40px;
	}
	p {
		padding-left: 40px;
		padding-right: 40px;
	}
}

.new_post {
	a:link, a:visited, a:hover, a:active, {
		color: #303030;
	}
}

.crud_links {
	a:link, a:visited, a:hover, a:active, {
		color: #696969;
	}
}

.post_title {
	font-size: 25px;
	font-weight: 400;
	a:link, a:visited, a:hover, a:active, {
		color: #000000;
	}
}

.post_body {

	text-align: justify;
	font-style: italic;
	font-size: 14px;
	a:link, a:visited, a:hover, a:active, {
		color: #696969;
	}
}

.blog_table {
	display: none;
}

tr:hover {background-color: #9C9C9C}

.post_thumb {
	max-width: 50px;
}