// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#blog_area {
	padding: 0px;
	background-color: #F5F5F5;
}

#blog_title {
	color: #1C1C1C;
	text-decoration: underline;
	border: 2px solid #1C1C1C;
	border-radius: 1px;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	text-align: center;
}

#paginate_selector {
	margin-top: -5px;
	padding: 0px 15px 10px 15px;
	a:link, a:visited, a:active, {
		color: #696969;
		text-decoration: underline;
	}
	a:hover {
		color: #000000;
	}
}


.post_navigation_links {
	a:link, a:visited, a:hover, a:active, {
		color: #303030;
	}
}

.crud_links {
	a:link, a:visited, a:hover, a:active, {
		color: #696969;
	}
}

#posts {
	margin-left: 25px;
	a:link, a:visited, a:hover, a:active, {
				color: #000000;
			}
	.post_title {
			font-size: 25px;
			font-weight: 400;
			text-align: center;
			line-height: 115%;
		}
	.box {
		margin: 10px 15px 10px 15px;
		width: 275px;
		padding: 0;
		border-radius: 10px;
		text-align: center;
		img {
			max-width: 100%;
			height: auto;
			padding-bottom: 10px;
			border-radius: 10px;
		}
	}
}

.panel {
	display: inline-block;
}

#panel_body {
	height: 125px;
}

.post_body {
	text-align: justify;
	font-style: italic;
	font-size: 14px;
	a:link, a:visited, a:hover, a:active, {
		color: #696969;
	}
}

#postbox {
	a:link, a:visited, a:hover, a:active, {
		color: #000000;
	}
}

#post_title {
	text-align: center;
	padding-top: 20px;
}

#post_header_image {
	margin-top: 30px;
	border-radius: 10px;
	-webkit-box-shadow: 6px 6px 11px 0px rgba(105,105,105,0.67);
	-moz-box-shadow: 6px 6px 11px 0px rgba(105,105,105,0.67);
	box-shadow: 6px 6px 11px 0px rgba(105,105,105,0.67);
}

#post_body {
	text-align: justify;
}


#read_wish {
	margin: 2px 25px 2px 25px;
	width: 175px;
}

#read_help {
	margin: 2px 25px 2px 25px;
	width: 175px;
}

@media only screen and (max-width: 736px) and (min-device-width: 414px) {
	#blog_title {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	#posts {
		margin-left: 15%;
		margin-right: 20%;
		text-align: center;
		a.post_title:link, a.post_title:visited, a.post_title:hover, a.post_title:active, {
				color: #2B2B2B;
				display: inline-block;
				margin: 5px 5px 0px 5px;
				}
		#panel_body {
			padding: 0 15px 5px 15px;
			height: auto;
		}
	}
	#paginate_selector {
		display: inline-block;
		margin-left: 25%;
		margin-right: 25%;
	}
}