// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#blog_area {
	padding: 0px;
	background-color: #F5F5F5;
}

#blog_title {
	padding: 0px 15px 0px 15px;
}

#paginate_selector {
	margin-top: -5px;
	padding: 0px 15px 10px 15px;
}


.post_navigation_links {
	a:link, a:visited, a:hover, a:active, {
		color: #303030;
	}
}

.crud_links {
	a:link, a:visited, a:hover, a:active, {
		color: #696969;
	}
}

#posts {
	a:link, a:visited, a:hover, a:active, {
				color: #000000;
			}
	.post_title {
			font-size: 25px;
			font-weight: 400;
			text-align: center;
		}
	.box {
		margin: 10px 15px 10px 15px;
		width: 275px;
		padding: 0 0 0 0;
		border-radius: 10px;
		border-color: #696969;
		text-align: center;
		img {
			max-width: 100%;
			height: auto;
			padding-bottom: 10px;
			border-radius: 10px;
		}
	}
}

.panel {
	display: inline-block;
}

#panel_body {
	height: 125px;
}

.post_body {
	text-align: justify;
	font-style: italic;
	font-size: 14px;
	a:link, a:visited, a:hover, a:active, {
		color: #696969;
	}
}

#postbox {
	a:link, a:visited, a:hover, a:active, {
		color: #000000;
	}
}

#post_title {
	text-align: center;
	padding-top: 20px;
}

#post_header_image {
	padding-top: 30px;
}

#post_body {
	text-align: justify;
}