.prayer_praise_section {
	text-align: center;
	background-color: #1C1C1C;
	padding: 0px;
	color: #1C1C1C;
}

.reportbox {
	padding: 0px;
	margin: 20px 10px 20px 10px;
	background-color: #fefefe;
	width: 275px;
	height: 475px;
	display: inline-block;
	vertical-align: top;
	border: 1.5px solid #999999;
	h2 {
		margin: 25px 75px 10px 75px;
		padding: 2.5px;
		background-color: #1C1C1C;
		color: #fefefe;
	}
	h5 {
		font-style: italic;
		font-weight: 500;
		margin: 5px 10px 5px 10px;
		height: 75px;
		letter-spacing: 1px;
		line-height: 125%;
	}
	h4 {
		margin: 5px 5px 5px 5px;
	}
	a:link, a:visited, a:active {
		color: #696969;
	}
	a:hover {
		text-decoration: underline;
		color: #000000;
	}

}

.instagrambox {
	padding: 0px;
	margin: 20px 10px 20px 10px;
	background-color: #fefefe;
	width: 275px;
	height: 475px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	border: 1.5px solid #999999;

}

#instagram_profile {
	margin-left: auto;
	margin-right: auto;
	margin-top: 12.5px;
	height: 450px;
	width: auto;
	border: 1.5px solid #999999;
}

.instagram_button_block {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
  	left: 0;
	z-index: 10;
	margin-top: 375px;
}

.prayer_praise_title {
	color: #fefefe;
	text-decoration: underline;
	border: 2px solid #fefefe;
	border-radius: 1px;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
}

.prayer_praise_title:hover {
	color: #d9d9d9;
	cursor: pointer;
	border: 2px solid #d9d9d9;
}

.prayer_praise_reveal_area {
	display: none;
}

.get_signed_up {
	color: #d9d9d9;
}
#prayer_praise_signup {
	a:link, a:visited, a:active {
		color: #d9d9d9;
		text-decoration: underline;
	}
	a:hover {
		color: #696969;
	}
}

@media only screen and (max-width: 736px) and (min-device-width: 414px) {
	.get_signed_up {
		font-size: 20px;
	}
	.prayer_praise_title {
	color: #fefefe;
	text-decoration: underline;
	border: 2px solid #fefefe;
	border-radius: 1px;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	font-size: 30px;
}
}