<section class="container-fluid" id="about_page">
	<% if user_signed_in? %>
	<div class="col-sm-12 thank_you">
	  <h1>Thank you for following the Andy in SF Adventure!</h1>
	</div>
	<% else %>
	<div class="container-fluid" id="about_banner">
		<div class="row">
	  		<div class="col-sm-12">
	  			<%= image_tag("https://s3.amazonaws.com/andyinsfimages/darkprofile.jpeg", class: "col-sm-4 img-responsive center-block andy_profile") %>
	  			<div class="col-sm-4" id="what_about">
	  				<h1>What is "Andy in SF"?</h1>
	  				<h5 id="glad">I'm so glad you asked.</h5>
	  				<h3>This is where I'll be sharing stories and reports of all the cool stuff that is happening in San Francisco!<br /><br />Mostly, it's a fun way of updating my mom on what is happening so she doesn't worry!</h3>
	  				<h5 id="read_the_stuff">So stay up to date by reading all the stuff below!</h5>
	  			</div>
	  			<%= image_tag("https://s3.amazonaws.com/andyinsfimages/andy_in_the_bay.jpg", class: "col-sm-4 img-responsive center-block andy_profile") %>
	  		</div>
  		</div>
	</div>
	<% end %>
</section>