<section class="container-fluid" id="about_page">
	<% if user_signed_in? %>
	<div class="col-sm-12 thank_you">
	  <h1>Thank you for following the Andy in SF Adventure!</h1>
	</div>
	<% else %>
	<div class="container-fluid" id="about_banner">
		<div class="row">
	  		<div class="col-sm-12">
	  			<%= image_tag("https://s3.amazonaws.com/andyinsfimages/main/andy_in_the_bay.jpg?X-Amz-Date=20170221T084830Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=db030376c5733a3043a01e9d66f000aceaae446e8e547470e3fa99fff1fbaa2c&X-Amz-Credential=ASIAIGDK7FTTXIWXAY2Q/20170221/us-east-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=FQoDYXdzEKL//////////wEaDMwAupx28v0n2WHYICL6AVwEs817to3nGbRlbEFr9Jau9xnIOng/is7CLKr9/PKBj%2BcijTX5Vyq1iftPc9qNHW0tyCdQqbxSep%2BO7g46xxSQTP9ToBvH2GEwEVyS7VwnKiKIs4vHNzwkHHYILyrwXHx0NzRKfgJ%2BdYJOK%2BWCrz34JnHzzV2sO/PlY%2BFBqFNV43cGx6G4NV3A6OuGrD0iu/GKpDLWnwSv13dq2RY3pWM5xG1c5SYZRtkAPMJL4eYAA6pszeYh3pv8eWjgnZ%2BwigySlTx0KclhbgF9LFyZya5YzH%2BpHggxeFVMtHH40wrREWV3uOdaS0Os6g1VqxR2gfimSRdDd3tIJNMo4/yvxQU%3D", class: "col-sm-4 img-responsive center-block andy_profile") %>
	  			<div class="col-sm-4" id="what_about">
	  				<h1>What is "Andy in SF"?</h1>
	  				<h5 id="glad">I'm so glad you asked.</h5>
	  				<h3>This is where I'll be sharing stories and reports of all the cool stuff that is happening in San Francisco!<br /><br />Mostly, it's a fun way of updating my mom on what is happening so she doesn't worry!</h3>
	  				<h5 id="read_the_stuff">So stay up to date by reading all the stuff below!</h5>
	  			</div>
	  			<%= image_tag("https://s3.amazonaws.com/andyinsfimages/main/darkprofile.jpeg?X-Amz-Date=20170221T084850Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=3bd96efc4855260d5e9a87dcdcb9faf571b985fbff676a499e547cf57812fef9&X-Amz-Credential=ASIAIGDK7FTTXIWXAY2Q/20170221/us-east-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=FQoDYXdzEKL//////////wEaDMwAupx28v0n2WHYICL6AVwEs817to3nGbRlbEFr9Jau9xnIOng/is7CLKr9/PKBj%2BcijTX5Vyq1iftPc9qNHW0tyCdQqbxSep%2BO7g46xxSQTP9ToBvH2GEwEVyS7VwnKiKIs4vHNzwkHHYILyrwXHx0NzRKfgJ%2BdYJOK%2BWCrz34JnHzzV2sO/PlY%2BFBqFNV43cGx6G4NV3A6OuGrD0iu/GKpDLWnwSv13dq2RY3pWM5xG1c5SYZRtkAPMJL4eYAA6pszeYh3pv8eWjgnZ%2BwigySlTx0KclhbgF9LFyZya5YzH%2BpHggxeFVMtHH40wrREWV3uOdaS0Os6g1VqxR2gfimSRdDd3tIJNMo4/yvxQU%3D", class: "col-sm-4 img-responsive center-block andy_profile") %>
	  		</div>
  		</div>
	</div>
	<% end %>
</section>